*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: darkorange;
    color: white;
}

.menu {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: cadetblue;
    position: fixed;
}

.menu button {
    border: none;
    background-color: rgb(163, 114, 61);
    border-radius: 2rem;
    height: 2rem;
    width: 2rem;
}

.menu button:hover {
    background-color: aqua;
}

.clock {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 255, 255, 0.495);
}

.corpo{
    margin-top: 5rem;
    width: 10rem;
    height: 10rem;
    border-radius: 6rem;
    border: 0.5rem solid black;
}

.ponteiros {
   background-color: rgb(0, 0, 0);
   height: 0.3rem;
   width: 4rem;
   border-radius: 2rem;
   position: absolute;
   left: 50%;
   top: 27%;
   transform-origin: 1%;
   transform: rotate(-90deg);
   transition: all 0.5s;
   transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.ponteiros.horas{
    width: 3rem;
}

.ponteiros.segundos{
    width: 4.5rem;
}

.none {
    display: none;
}

@media screen and (min-width: 1224px){
    .ponteiros{
        top: 22%;
    }
}